.vk-tenor {
    position: relative;
    z-index: 10000;
    display: inline-block;
    height: 36px;
    width: 36px;
}

.vk-tenor .button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    color: #828a99;
    background-color: transparent;
    cursor: pointer;
    /*border:2px solid #828a99; border-radius: 10px;*/
}

.vk-tenor .button:hover {
    color: hsl(218, 19%, 64%)
}

.vk-tenor .popup {
    cursor: initial;
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    max-height: 300px;
    width: 432px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgb(48, 48, 48);
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    transition: all 0.2s;
}

.vk-tenor .popup.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
}

.vk-tenor .searchbar {
    margin: 0;
    padding: 10px;
}

.vk-tenor .gifbins-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.vk-tenor .gifbin {
    display: flex;
    flex-direction: column;
}

.vk-tenor .gif {
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    margin: 5px
}