.wrapper {
    position: relative;
    z-index: 10000;
    display: inline;
}

.tenor-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 4px black;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.searchbar {
    background-color: lightgray;
    border-radius: 15px;
    height: 30px;
    border: none;
    padding-left: 30px;
}